
<div class='mainnats'>
  <div class="container-2">

  <h1>National Parks
    </h1>
    <% @natparks.each do |park| %>
      <% if park["designation"] == "National Park" %>
        <div>
            <p><%= park.name%>, <%= park.states%></p>
            Reviews: <%= park.reviews.count %> <button><a href="/natparks/<%= park.id%>">Find out more!</a></button>
            </p>
          </div>

    <% end %>
  <% end %>

  </div>
</div>
