/* line 4, /Users/jasonbrown/bootcamp_2.0/nationalparkreview/npreview/app/assets/stylesheets/natparks.scss */
.mainnats {
  background-color: gray;
  background-image: url("grandcanyonhome.jpg");
  /*background-image:url('grandcanyonhome.jpg');*/
  font-family: futura, Helvetica, Arial, Sans-Serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  font-weight: bold;
  -o-background-size: cover;
  background-size: cover;
}

/* line 16, /Users/jasonbrown/bootcamp_2.0/nationalparkreview/npreview/app/assets/stylesheets/natparks.scss */
.container-2 {
  background-color: white;
  border-radius: 10px;
  margin: 5% auto;
  width: 30%;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}
/* line 4, /Users/jasonbrown/bootcamp_2.0/nationalparkreview/npreview/app/assets/stylesheets/travellers.scss */
.reviewcontainer {
  background-color: gray;
  text-align: center;
  width: 33%;
  margin-left: 33%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.main{
  background-color: gray;
  background-image:url('giphy-1.gif');
  /*background-image:url('grandcanyonhome.jpg');*/
  font-family: futura, Helvetica, Arial, Sans-Serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  font-weight: bold;
  -o-background-size: cover;
  background-size: cover;
}
.container-1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  margin: 15% auto;
  width: 20%;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
}
