<h1> All of our traveling buddies. </h1>

<% @travellers.each do |traveller| %>
  <p><%= traveller.name %></p>
<% end %>


<%= button_to  " Go to National Parks", natparks_path, method: :get %>
<%= button_to  " Go to Travellers Page", travellers_path, method: :get %>
