<h1> All of our traveling buddies. </h1>


<h2> Coming soon!!</h2>

<%= button_to  " Go to National Parks", natparks_path, method: :get %>
<%= button_to  " Go to Travellers Page", travellers_path, method: :get %>
