

<div class='mainnatsparkindex'>
<div class="container-2parkindex">

  <div class="toptype">

    <h1>National Parks Services Park Types</h1>
  </div>

  <div class='parktypeslist'>
    <% @designations.each do |park| %>
          <% if !park["designation"].empty? %>
            <h2><%= park["designation"] %></h2>
              <p>  Number of parks: <%= @natparks.where(:designation=>park["designation"]).count %>
                <button><a href='/parktypes/<%=park.designation %>'>See Parks</a></button>
            </p>
        <% end %>
    <% end %>

  <div>

</div>
</div>
