

<div class='mainnats'>
  <div class="container-2">

  <div class="toptype">
    <h1> Park Types of the</h1>
    <h1>National Parks Services</h1>
  </div>

  <div class='parktypeslist'>
    <% @designations.each do |park| %>

          <p><%= park["designation"] %>
          <button><a href='/parktypes/<%=park.designation %>'>See Parks</a></button></p>
    <% end %>
  <div>

  </div>
</div>
