// Place all the styles related to the natparks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainnats{
  background: url('arches4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  font-family: futura, Helvetica, Arial, Sans-Serif;
  font-weight: bold;

}




.container-2 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 0% auto;
  width: 50%;
  padding-bottom: 50px;
  padding-top: 5px;
  text-align: center;
}

// invidual parks show page
.container-1parkshow{
  background: url('rockmnp1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  font-family: futura, Helvetica, Arial, Sans-Serif;
  font-weight: bold;

}

.container-2parkshow{
opacity:1.0;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 10px;
margin: 0% auto;
width: 60%;
padding-bottom: 50px;
padding-top: 5px;
text-align: center;
}
#map {
      margin-left: 33%;
       width: 200px;
       height: 200px;
       background-color: grey;
     }
