// css for list of all park types indexx.html
.mainnatsparkindex{
  background: url('arches1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  font-family: futura, Helvetica, Arial, Sans-Serif;
  font-weight: bold;

}
.container-2parkindex{
opacity:1.0;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 10px;
margin: 0% auto;
width: 40%;
padding-bottom: 50px;
padding-top: 5px;
text-align: center;
}

.parktypeslist{
  padding-top: 5px;
  border-style: groove;
  font-family: serif;
}
.toptype{
  width: 90%;
}
