
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home Page</title>
    </head>

      <body class="main">
            <div class="container-1">
              <h1> Review National Parks</h1>
              <% if logged_in? %>
                Welcome back
                <p><%= current_user.username %></p>
                
              <% else %>
                <%= link_to "Log In", new_session_path %>
                <%= link_to "Sign up", new_registration_path %>
              <% end %>
            </div>
      </body>
</html>
